body{
    margin: 0;
}
.state:hover {
    fill: red;
}
.states{
    transform: scale(0.6);
}
  
.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
    transform: scale(0.6);
}

.track {
    stroke: #777;
    stroke-opacity: .2;
    stroke-width: 5;
}

.slider-from, .slider-to {
    cursor: pointer;  
}

.pollutant{
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    margin: 0 10px;
    border: 1px solid rgb(152, 200, 219);
    height: 1em;
}

.pollutant-buttons{
    position: sticky;
    top: 0;
    padding: 20px;
}
.pollutant-description{
    
}
.pollutant-unit{
    color: rgb(177, 177, 177);
}